<div class="container" id="submitData">
  <div *ngIf="jsonLocked" class="for-json">{{cardJson}}</div>
  <div class="total">
    <div class="name">TOTAL:</div>
    <div class="value">
      {{bucketServiceService.getPrice()}}
    </div>
  </div>
  <hr>
  <div class="bucket">
    <div class="cards">
      <app-card-bucket
        *ngFor="let card of cards"
        [cardBucketElement]="card"
      ></app-card-bucket>
    </div>
    <div class="form">
      <app-form></app-form>
    </div>
  </div>
</div>

