<div class="card-bucket">
  <div class="image">
    <img src="./assets/images/trimmer.jpg" alt="trimmer">
  </div>
  <div class="info">
    <div class="name">
      Philips ONE Blade
    </div>
    <div class="description">
      trimmer
    </div>
    <div class="price">
      990$
    </div>
  </div>
  <div class="buttons">
    <div class="for-button">
      <button>+</button>
    </div>
    <div class="value">1</div>
    <div class="for-button">
      <button>-</button>
    </div>
  </div>
</div>
