<div class="card-bucket">
  <div class="image">
    <img [src] = "cardBucketElement.image" alt="image">
  </div>
  <div class="info">
    <div class="name">
      {{cardBucketElement.description}}
    </div>
    <div class="description">
      trimmer
    </div>
    <div class="price">
      {{cardBucketElement.price}}
    </div>
  </div>
  <div class="buttons">
    <div class="for-button">
      <button (click)="growNumber()">{{plus}}</button>
    </div>
    <div class="value">{{this.cardBucketElement.count}}</div>
    <div class="for-button">
      <button (click)="lessNumber()">{{minus}}</button>
    </div>
  </div>
</div>
