nav {
  display: flex;
  justify-content: flex-end;
  background-color: slategrey;
  width: 100%;
  font-size: 24px;
  padding: 20px 30px;
  height: 80px;

  .for-button {
    display: flex;
    button {
      border-radius: 25px;
      padding: 5px 30px;
      font-size: 18px;
      font-weight: bold;
      outline: none;
    }
    .number {
      width: 25px;
      height: 24px;
      border-radius: 25px;
      background-color: white;
      margin: 8px 3px;
      text-align: center;
      font-size: 18px;
    }
    button:hover {
      background-color: coral;
      transition: 300ms;
      color: white;
      box-shadow: 0 0 6px white;
    }
  }

  .home {
    color: black;
  }
  .home:hover {
    color: white;
    transition: 300ms;
    text-shadow: 2px 3px 3px black;
  }
}



