<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
  <label for="name">
    <span class="name"> Name:</span>
    <input id="name" type="text" formControlName="name">
    <div *ngIf="userProfileForm.get('name').touched && userProfileForm.get('name').invalid" class="validation">
      <small *ngIf="userProfileForm.get('name').errors.required">Enter name</small>
      <small *ngIf="userProfileForm.get('name').errors.minLength">Enter existing name</small>
    </div>
  </label>


  <label for="text">
    <span class="surname">Surname:</span>
    <input id="text" type="text" formControlName="surname">
    <div *ngIf="userProfileForm.get('surname').touched && userProfileForm.get('name').invalid" class="validation">
      <small *ngIf="userProfileForm.get('surname').errors.required">Enter surname</small>
      <small *ngIf="userProfileForm.get('surname').errors.minLength">Enter existing surname</small>
    </div>
  </label>

  <label for="address">
    <span class="address">Address:</span>
    <input id="address" type="text" formControlName="address">
    <div *ngIf="userProfileForm.get('address').touched && userProfileForm.get('name').invalid" class="validation">
      <small *ngIf="userProfileForm.get('address').errors.required">Enter address</small>
      <small *ngIf="userProfileForm.get('address').errors.minLength">Enter existing address</small>
    </div>
  </label>

  <label for="phone">
    <span class="phone">Phone:</span>
    <input id="phone" type="text" formControlName="phone">
    <div *ngIf="userProfileForm.get('phone').touched && userProfileForm.get('name').invalid" class="validation">
      <small *ngIf="userProfileForm.get('phone').errors.required">Enter phone</small>
      <small *ngIf="userProfileForm.get('phone').errors.minLength">Enter existing phone</small>
    </div>
  </label>

  <div class="for-button">
    <button [disabled]="userProfileForm.invalid || submitted">ORDER</button>
  </div>
</form>
